In [2]:
#Dealing with duplicate data
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
#How to discover duplicate rows of data
import pandas as pd

In [4]:
my_df = pd.DataFrame({"customer_id" : [1,1,2,2,3],
                      "transaction_id" : [101,102,103,103,104]})

In [5]:
my_df

   customer_id  transaction_id
0            1             101
1            1             102
2            2             103
3            2             103
4            3             104

In [6]:
#The third and fourth rows are the same

my_df.duplicated()

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [7]:
#One as false, one as true here in row 3 and row 4
my_df.duplicated().sum()
#We have one duplicated row

1

In [8]:
my_df["customer_id"].duplicated()
#We are only focused on one column, we have two instances of duplications (True)

0    False
1     True
2    False
3     True
4    False
Name: customer_id, dtype: bool

In [9]:
#If we want to access and return rows from data frame
#Request these values - ask for true duplicated values 
#We can investigate this row further
my_df[my_df.duplicated()]

   customer_id  transaction_id
3            2             103

In [10]:
#How to determine whether or not we discard duplicate rows
#Which duplicate is the imposter? The first row or the last one?
#Keep - This is useful here - First is the default - assumes first instance is real, and the following as a duplicate

my_df.duplicated(keep = "first")
#We can see here that the code designated the 4th row is seen as imposter (True)

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [11]:
my_df.duplicated(keep = "last")
#Now third row is deemed to be duplicate (True)

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [12]:
my_df.duplicated(keep = False)
#Deeming all duplicate rows are duplicates - we can remove all rows that are not unique

0    False
1    False
2     True
3     True
4    False
dtype: bool

In [13]:
#Drop duplicates
#Same internal keep parameters - set to first, but has last and false available

my_df.drop_duplicates()
#Row 4 with transaction duplicate 103 is dropped here

   customer_id  transaction_id
0            1             101
1            1             102
2            2             103
4            3             104

In [14]:
my_df.drop_duplicates(inplace =  True)
#Row 4 with transaction duplicate 103 is dropped here

In [15]:
my_df

   customer_id  transaction_id
0            1             101
1            1             102
2            2             103
4            3             104